## Neighboors method

In [1]:
# data processing libraries
import numpy as np
import pandas as pd

# plotting libraries
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('whitegrid')

# machine-learning libraries
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics import pairwise
#from scipy.sparse import csr_matrix

# miscellaneous
import pickle
from sklearn.metrics.pairwise import cosine_similarity

Read movie ratings in

In [31]:
df_R = pd.read_csv('user_rating.csv', index_col=0)
titles = pd.read_csv('processed_titles.csv', index_col=0)

In [3]:
# initialize the unsupervised model NearestNeighbors
cosin_model = NearestNeighbors(metric='cosine')

In [4]:
# fit it to the Ratings matrix
cosin_model.fit(df_R)

NearestNeighbors(metric='cosine')

### Save and load the model

In [5]:
with open('cosin_recommender.pkl', 'wb') as file:
    pickle.dump(cosin_model, file)

In [6]:
with open('cosin_recommender.pkl', 'rb') as file:
    cosin_model = pickle.load(file)

### Add user info

In [7]:
#user info
new_user_query = {
    10: 4,  # Billy Madison (1995)
    100: 3, # Bambi (1942)
    555: 3.5,  # Mortal Kombat (1995)
    756: 2,  # Inside Man (2006)
    1225: 5,  # Babe: Pig in the City (1998)
}

In [8]:
new_user_dataframe = pd.DataFrame(new_user_query,columns = df_R.columns, index = ['new user'])
new_user_dataframe

,0,1,2,3,4,5,6,7,8,9,...,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234
new user,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#impute NaNs with mean 
new_user_imputed = new_user_dataframe.fillna(df_R.mean())
new_user_imputed

,0,1,2,3,4,5,6,7,8,9,...,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234
new user,1.381967,0.277869,0.659836,1.322951,1.417213,0.316393,0.142623,1.566393,0.255738,0.385246,...,0.12623,0.087705,0.118033,0.128689,0.139344,0.136885,0.098361,0.081967,0.108197,0.106557

**calculate the score**

1. find the neighborhood of $n$ similar users
2. use their ratings to calculate a score

In [10]:
# calculates the distances to all other users in the data!
similarity_scores, neighbor_ids = cosin_model.kneighbors(
    new_user_imputed,
    n_neighbors=5,
    return_distance=True
)

In [11]:
neighbor_ids[0]

array([413, 598, 479, 273,  67])

In [12]:
# only look at ratings for users that are similar!
neighborhood = df_R.iloc[neighbor_ids[0]]
neighborhood

,0,1,2,3,4,5,6,7,8,9,...,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234
413,4.0,4.0,3.0,4.0,5.0,0.0,4.0,5.0,5.0,4.0,...,3.5,2.0,4.0,3.0,4.0,0.0,0.0,2.0,2.0,0.0
598,3.0,1.5,4.5,4.0,3.5,3.5,2.5,3.5,0.0,3.5,...,2.5,1.5,3.0,0.0,2.5,3.0,1.5,1.5,4.0,0.0
479,3.0,2.5,4.0,4.5,3.5,0.0,5.0,5.0,0.0,3.0,...,0.0,0.0,0.0,3.5,0.0,0.0,2.5,4.0,0.0,0.0
273,4.0,0.0,4.0,4.0,4.0,4.5,3.5,4.5,0.0,3.5,...,2.0,3.0,0.0,3.5,0.0,0.0,3.0,3.0,3.5,3.5
67,2.5,2.0,4.0,4.0,3.0,4.0,0.0,2.5,0.0,4.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
new_user_query.keys()

dict_keys([10, 100, 555, 756, 1225])

In [14]:
neighborhood.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '1225', '1226', '1227', '1228', '1229', '1230', '1231', '1232', '1233',
       '1234'],
      dtype='object', length=1235)

In [15]:
# Convert keys in new_user_query to strings
query_keys = [str(key) for key in new_user_query.keys()]

# Filter out the movies already seen
neighborhood_filtered = neighborhood.drop(query_keys, axis=1)

In [16]:
neighborhood_filtered

,0,1,2,3,4,5,6,7,8,9,...,1224,1226,1227,1228,1229,1230,1231,1232,1233,1234
413,4.0,4.0,3.0,4.0,5.0,0.0,4.0,5.0,5.0,4.0,...,0.0,2.0,4.0,3.0,4.0,0.0,0.0,2.0,2.0,0.0
598,3.0,1.5,4.5,4.0,3.5,3.5,2.5,3.5,0.0,3.5,...,0.0,1.5,3.0,0.0,2.5,3.0,1.5,1.5,4.0,0.0
479,3.0,2.5,4.0,4.5,3.5,0.0,5.0,5.0,0.0,3.0,...,0.0,0.0,0.0,3.5,0.0,0.0,2.5,4.0,0.0,0.0
273,4.0,0.0,4.0,4.0,4.0,4.5,3.5,4.5,0.0,3.5,...,4.5,3.0,0.0,3.5,0.0,0.0,3.0,3.0,3.5,3.5
67,2.5,2.0,4.0,4.0,3.0,4.0,0.0,2.5,0.0,4.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# calculate the summed up rating for each movie
# summing up introduces a bias for popular movies
# averaging introduces bias for movies only seen by few users in the neighboorhood

df_score = neighborhood_filtered.sum()
df_score

0       16.5
1       10.0
2       19.5
3       20.5
4       19.0
        ...
1230     3.0
1231     7.0
1232    10.5
1233     9.5
1234     3.5
Length: 1230, dtype: float64

In [18]:
df_score_ranked = df_score.sort_values(ascending=False).index.tolist()
df_score_ranked

['58',
 '144',
 '130',
 '181',
 '373',
 '126',
 '63',
 '14',
 '60',
 '81',
 '300',
 '151',
 '52',
 '59',
 '322',
 '474',
 '156',
 '57',
 '292',
 '425',
 '180',
 '77',
 '593',
 '19',
 '672',
 '182',
 '62',
 '1022',
 '484',
 '712',
 '101',
 '22',
 '118',
 '15',
 '721',
 '65',
 '61',
 '64',
 '668',
 '468',
 '69',
 '677',
 '493',
 '594',
 '717',
 '3',
 '109',
 '7',
 '171',
 '612',
 '83',
 '73',
 '459',
 '448',
 '24',
 '42',
 '215',
 '1105',
 '451',
 '280',
 '460',
 '676',
 '2',
 '76',
 '462',
 '614',
 '1093',
 '962',
 '175',
 '185',
 '596',
 '674',
 '23',
 '267',
 '995',
 '269',
 '465',
 '121',
 '610',
 '959',
 '96',
 '53',
 '32',
 '291',
 '177',
 '760',
 '298',
 '31',
 '615',
 '1145',
 '328',
 '747',
 '447',
 '316',
 '529',
 '140',
 '4',
 '1085',
 '387',
 '233',
 '170',
 '711',
 '142',
 '665',
 '160',
 '469',
 '41',
 '286',
 '68',
 '1090',
 '440',
 '1193',
 '1201',
 '9',
 '485',
 '153',
 '706',
 '29',
 '34',
 '138',
 '646',
 '72',
 '1084',
 '437',
 '75',
 '1077',
 '449',
 '40',
 '1062',
 '113',
 '330',
 '98',
 '117',
 '21',
 '93',
 '1053',
 '755',
 '164',
 '191',
 '79',
 '157',
 '737',
 '35',
 '340',
 '729',
 '12',
 '486',
 '600',
 '458',
 '990',
 '564',
 '92',
 '1054',
 '86',
 '924',
 '739',
 '1087',
 '51',
 '148',
 '868',
 '282',
 '607',
 '317',
 '299',
 '446',
 '574',
 '588',
 '479',
 '186',
 '473',
 '242',
 '234',
 '724',
 '188',
 '189',
 '301',
 '681',
 '214',
 '323',
 '26',
 '1153',
 '139',
 '1114',
 '1043',
 '85',
 '890',
 '759',
 '152',
 '129',
 '16',
 '124',
 '1073',
 '30',
 '463',
 '856',
 '270',
 '0',
 '91',
 '669',
 '884',
 '619',
 '257',
 '988',
 '985',
 '71',
 '982',
 '715',
 '1158',
 '184',
 '1124',
 '698',
 '705',
 '172',
 '311',
 '427',
 '349',
 '25',
 '1163',
 '516',
 '1120',
 '520',
 '260',
 '174',
 '559',
 '1203',
 '1001',
 '476',
 '426',
 '1029',
 '1089',
 '97',
 '95',
 '1154',
 '295',
 '1051',
 '439',
 '293',
 '967',
 '456',
 '1086',
 '740',
 '645',
 '727',
 '211',
 '866',
 '218',
 '960',
 '875',
 '694',
 '722',
 '817',
 '845',
 '734',
 '758',
 '305',
 '692',
 '1216',
 '690',
 '1088',
 '183',
 '173',
 '358',
 '1092',
 '285',
 '1115',
 '726',
 '1118',
 '1123',
 '1168',
 '1141',
 '689',
 '832',
 '424',
 '725',
 '119',
 '452',
 '951',
 '882',
 '510',
 '926',
 '989',
 '133',
 '584',
 '675',
 '1198',
 '605',
 '753',
 '1204',
 '499',
 '943',
 '1000',
 '421',
 '940',
 '780',
 '782',
 '597',
 '506',
 '1068',
 '623',
 '846',
 '431',
 '849',
 '691',
 '471',
 '1097',
 '1033',
 '879',
 '652',
 '693',
 '651',
 '1023',
 '1021',
 '844',
 '1005',
 '831',
 '824',
 '537',
 '618',
 '122',
 '6',
 '176',
 '146',
 '315',
 '256',
 '137',
 '11',
 '288',
 '1045',
 '1215',
 '1024',
 '599',
 '957',
 '954',
 '697',
 '616',
 '686',
 '538',
 '134',
 '858',
 '159',
 '167',
 '785',
 '466',
 '490',
 '82',
 '49',
 '492',
 '50',
 '325',
 '495',
 '1125',
 '39',
 '55',
 '720',
 '685',
 '254',
 '435',
 '687',
 '209',
 '200',
 '467',
 '306',
 '420',
 '374',
 '873',
 '161',
 '751',
 '169',
 '262',
 '491',
 '783',
 '419',
 '934',
 '601',
 '764',
 '1167',
 '1080',
 '1028',
 '525',
 '245',
 '457',
 '524',
 '971',
 '774',
 '453',
 '337',
 '229',
 '502',
 '578',
 '641',
 '535',
 '539',
 '530',
 '617',
 '511',
 '732',
 '741',
 '580',
 '696',
 '507',
 '657',
 '662',
 '259',
 '772',
 '308',
 '1032',
 '84',
 '1081',
 '115',
 '56',
 '952',
 '950',
 '937',
 '379',
 '906',
 '894',
 '1039',
 '1146',
 '813',
 '324',
 '46',
 '400',
 '881',
 '371',
 '939',
 '450',
 '604',
 '603',
 '74',
 '528',
 '746',
 '112',
 '532',
 '1070',
 '105',
 '166',
 '352',
 '33',
 '135',
 '442',
 '309',
 '673',
 '422',
 '723',
 '1100',
 '303',
 '896',
 '710',
 '17',
 '149',
 '917',
 '433',
 '38',
 '931',
 '932',
 '678',
 '927',
 '509',
 '1052',
 '1160',
 '1091',
 '1096',
 '1057',
 '505',
 '946',
 '576',
 '1025',
 '761',
 '754',
 '1188',
 '1184',
 '745',
 '1156',
 '733',
 '892',
 '920',
 '942',
 '762',
 '235',
 '123',
 '114',
 '589',
 '107',
 '583',
 '738',
 '1155',
 '441',
 '470',
 '401',
 '475',
 '436',
 '472',
 '397',
 '454',
 '608',
 '438',
 '1189',
 '563',
 '1190',
 '1219',
 '5',
 '731',
 '428',
 '587',
 '1194',
 '287',
 '591',
 '667',
 '659',
 '393',
 '653',
 '227',
 '636',
 '634',
 '823',
 '860',
 '549',
 '346',
 '318',
 '1143',
 '329',
 '314',
 '1113',
 '1111',
 '1164',
 '1099',
 '1079',
 '1076',
 '1166',
 '87',
 '874',
 '88',
 '1003',
 '106',
 '991',
 '1172',
 '958',
 '953',
 '941',
 '915',
 '895',
 '893',
 '1206',
 '778',
 '521',
 '480',
 '518',
 '477',
 '487',
 '504',
 '66',
 '290',
 '789',
 '1122',
 '353',
 '193',
 '795',
 '252',
 '883',
 '99',
 '310',
 '948',
 '67',
 '810',
 '145',
 '1130',
 '226',
 '1004',
 '611',
 '644',
 '232',
 '639',
 '638',
 '271',
 '158',
 '843',
 '626',
 '1128',
 '541',
 '513',
 '207',
 '1056',
 '304',
 '925',
 '742',
 '544',
 '512',
 '412',
 '567',
 '695',
 '767',
 '90',
 '481',
 '773',
 '777',
 '627',
 '372',
 '903',
 '430',
 '302',
 '779',
 '1055',
 '1182',
 '631',
 '833',
 '1200',
 '536',
 '1083',
 '1191',
 '775',
 '1002',
 '1064',
 '1094',
 '713',
 '339',
 '748',
 '815',
 '212',
 '1007',
 '351',
 '406',
 '1020',
 '103',
 '404',
 '786',
 '922',
 '1217',
 '331',
 '1147',
 '566',
 '464',
 '575',
 '128',
 '961',
 '965',
 '239',
 '143',
 '392',
 '1103',
 '1109',
 '494',
 '289',
 '857',
 '975',
 '918',
 '979',
 '1030',
 '1150',
 '945',
 '557',
 '264',
 '613',
 '461',
 '1131',
 '482',
 '141',
 '771',
 '131',
 '571',
 '1044',
 '297',
 '382',
 '765',
 '405',
 '700',
 '1192',
 '763',
 '622',
 '908',
 '217',
 '390',
 '531',
 '602',
 '443',
 '228',
 '820',
 '816',
 '1214',
 '548',
 '195',
 '28',
 '116',
 '809',
 '805',
 '281',
 '411',
 '1209',
 '788',
 '527',
 '728',
 '1195',
 '1232',
 '595',
 '13',
 '89',
 '1174',
 '132',
 '348',
 '187',
 '921',
 '312',
 '923',
 '522',
 '752',
 '897',
 '376',
 '935',
 '859',
 '861',
 '862',
 '863',
 '355',
 '519',
 '790',
 '972',
 '1228',
 '880',
 '136',
 '891',
 '94',
 '1034',
 '850',
 '768',
 '904',
 '984',
 '488',
 '196',
 '707',
 '258',
 '704',
 '241',
 '1121',
 '344',
 '273',
 '43',
 '606',
 '44',
 '1072',
 '1',
 '1165',
 '78',
 '498',
 '682',
 '213',
 '423',
 '332',
 '1196',
 '592',
 '1095',
 '570',
 '569',
 '279',
 '561',
 '1144',
 '565',
 '542',
 '1134',
 '1063',
 '110',
 '987',
 '629',
 '540',
 '992',
 '981',
 '913',
 '649',
 '654',
 '319',
 '909',
 '851',
 '977',
 '956',
 '936',
 '370',
 '276',
 '283',
 '581',
 '870',
 '368',
 '1027',
 '125',
 '515',
 '886',
 '872',
 '357',
 '202',
 '416',
 '1233',
 '1050',
 '1035',
 '766',
 '1042',
 '1074',
 '415',
 '1058',
 '203',
 '168',
 '508',
 '350',
 '709',
 '265',
 '18',
 '867',
 '455',
 '1069',
 '640',
 '1071',
 '969',
 '206',
 '1075',
 '150',
 '848',
 '80',
 '334',
 '770',
 '822',
 '517',
 '1186',
 '811',
 '500',
 '1138',
 '800',
 '27',
 '573',
 '1102',
 '178',
 '655',
 '313',
 '377',
 '1098',
 '744',
 '947',
 '647',
 '735',
 '910',
 '250',
 '45',
 '914',
 '503',
 '1152',
 '769',
 '253',
 '1176',
 '579',
 '1041',
 '483',
 '585',
 '201',
 '970',
 '347',
 '1112',
 '1213',
 '1031',
 '263',
 '395',
 '1183',
 '1211',
 '679',
 '656',
 '997',
 '48',
 '222',
 '663',
 '664',
 '792',
 '338',
 '999',
 '1101',
 '847',
 '835',
 '1104',
 '980',
 '983',
 '628',
 '837',
 '1199',
 '994',
 '807',
 '1008',
 '179',
 '1170',
 '526',
 '417',
 '199',
 '237',
 '37',
 '1006',
 '808',
 '660',
 '389',
 '243',
 '876',
 '523',
 '364',
 '1208',
 '630',
 '620',
 '342',
 '554',
 '489',
 '429',
 '197',
 '929',
 '399',
 '1108',
 '1116',
 '261',
 '993',
 '1015',
 '1009',
 '1048',
 '1037',
 '327',
 '949',
 '955',
 '1065',
 '1066',
 '47',
 '336',
 '1212',
 '1181',
 '240',
 '621',
 '635',
 '648',
 '864',
 '854',
 '208',
 '204',
 '716',
 '192',
 '730',
 '190',
 '409',
 '165',
 '163',
 '162',
 '402',
 '819',
 '818',
 '784',
 '238',
 '801',
 '1207',
 '381',
 '916',
 '553',
 '582',
 '514',
 '345',
 '1231',
 '684',
 '900',
 '699',
 '703',
 '938',
 '36',
 '1142',
 '198',
 '294',
 '905',
 '378',
 '1148',
 '155',
 '930',
 '1149',
 '781',
 '853',
 '776',
 '643',
 '568',
 '1202',
 '1227',
 '1012',
 '444',
 '1178',
 '1019',
 '637',
 '911',
 '963',
 '1017',
 '1177',
 '966',
 '268',
 '968',
 '1185',
 '793',
 '54',
 '1119',
 '1018',
 '791',
 '799',
 '1187',
 '586',
 '702',
 '1151',
 '1140',
 '598',
 '246',
 '445',
 ...]

In [19]:
#top 10 recommendations (k)
recommendations = df_score_ranked[:10]
recommendations

['58', '144', '130', '181', '373', '126', '63', '14', '60', '81']

In [39]:
titles

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
52,2,Jumanji (1995),Adventure|Children|Fantasy
154,3,Grumpier Old Men (1995),Comedy|Romance
357,4,Waiting to Exhale (1995),Comedy|Drama|Romance
561,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
52238,1230,Annie Hall (1977),Comedy|Romance
52260,1231,"Right Stuff, The (1983)",Drama
52284,1232,Stalker (1979),Drama|Mystery|Sci-Fi
52305,1233,"Boot, Das (Boat, The) (1981)",Action|Drama|War
52330,1234,"Sting, The (1973)",Comedy|Crime

## Make a function out of this

In [40]:
# collaborative filtering = look at ratings only!
def recommend_neighborhood(query, model, ratings, k=10):
    """
    Filters and recommends the top k movies for any given input query based on a trained nearest neighbors model. 
    Returns a list of k movie ids.
    """
    # 1. candiate generation
    # construct a user vector
    new_user_dataframe = pd.DataFrame(new_user_query,columns = df_R.columns, index = ['new user'])
    new_user_imputed = new_user_dataframe.fillna(df_R.mean())
   
    # 2. scoring
    # find n neighbors
    similarity_scores, neighbor_ids = cosin_model.kneighbors(
    new_user_imputed,
    n_neighbors=5,
    return_distance=True)
    neighborhood = df_R.iloc[neighbor_ids[0]]

    # 3. ranking
    # filter out movies allready seen by the user:
    # 1 - Convert keys in new_user_query to strings
    query_keys = [str(key) for key in new_user_query.keys()]
    # 2 - Filter out the movies already seen
    neighborhood_filtered = neighborhood.drop(query_keys, axis=1)

    # return the top-k highst rated movie ids or titles
    df_score = neighborhood_filtered.sum()
    df_score_ranked = df_score.sort_values(ascending=False).index.astype(int).tolist()[:k]
    recommendations = df_score_ranked[:k]
    recommended_movies = titles[titles['movieId'].isin(recommendations)]
    
    return recommended_movies[['movieId', 'title']].values.tolist()

In [41]:
recommend_neighborhood(new_user_query, cosin_model, df_R, k=10)

[[14, 'Nixon (1995)'],
 [58, 'Postman, The (Postino, Il) (1994)'],
 [60, 'Indian in the Cupboard, The (1995)'],
 [63,
  "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)"],
 [81, "Things to Do in Denver When You're Dead (1995)"],
 [126, 'NeverEnding Story III, The (1994)'],
 [144, 'Brothers McMullen, The (1995)'],
 [181, 'Mighty Morphin Power Rangers: The Movie (1995)'],
 [373, 'Red Rock West (1992)']]